body{
  font-family: 'Varela Round';
}

.main-title{
  text-align:center;
  margin-top:15%;
  font-size:60px;
}

.search-container{
  width:50%;
  position:center;
  margin:0 auto;
  margin-top:70px;
}

#searchInput{
  text-indent:3px;
}

#hashtag{
  color:#00aced;
  position:absolute;
  margin-top:13px;
  margin-left:8px;
}

#tweet{
  color:#00aced;
}

#color1{
  color:#ed4100;
}

#color2{
  color:#edb800;
}

#color3{
  color:#00a17d;
}

#color4{
  color:#65a3c4;
}

.graphContainer{
  margin:0 auto;
  padding-top:3%;
  width:100%;
  text-align:center;
}

.barGraphContainer{
  width:98%;
}

.popular{
  margin-right:4px;
  cursor:pointer;
}

.loader-container{
  margin-top:100px;
}
.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    margin:0 auto;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
